body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f; 
}

/*  ***HEADER */
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

/* LOGO IMAGE */
#logo-img {
	background: url('../images/logo1.png') no-repeat;
	height: 100px;
	width: 109px;
	margin: 10px 0px 10px 0px;
	}